:root,
:host {
    --sys-background: #fcfaed;
    --sys-on-background: #1b1c15;
    --sys-surface: #fcfaed;
    --sys-surface-dim: #dcdace;
    --sys-surface-bright: #fcfaed;
    --sys-surface-container-lowest: #ffffff;
    --sys-surface-container-low: #f6f4e7;
    --sys-surface-container: #f0eee1;
    --sys-surface-container-high: #eae9dc;
    --sys-surface-container-highest: #e4e3d6;
    --sys-on-surface: #1b1c15;
    --sys-surface-variant: #e5e3d2;
    --sys-on-surface-variant: #47483b;
    --sys-inverse-surface: #303129;
    --sys-inverse-on-surface: #f3f1e4;
    --sys-outline: #78786a;
    --sys-outline-variant: #c8c7b7;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #5b631e;
    --sys-primary: #5b631e;
    --sys-on-primary: #ffffff;
    --sys-primary-container: #e0e994;
    --sys-on-primary-container: #444b05;
    --sys-inverse-primary: #c4cd7b;
    --sys-secondary: #5b631e;
    --sys-on-secondary: #ffffff;
    --sys-secondary-container: #e0e995;
    --sys-on-secondary-container: #434b05;
    --sys-tertiary: #0d6b58;
    --sys-on-tertiary: #ffffff;
    --sys-tertiary-container: #a1f2db;
    --sys-on-tertiary-container: #005142;
    --sys-error: #904a43;
    --sys-on-error: #ffffff;
    --sys-error-container: #ffdad5;
    --sys-on-error-container: #73342d;
    --sys-neutral: #78786e;
    --sys-neutral-variant: #78786a;
    --sys-primary-fixed: #e0e994;
    --sys-primary-fixed-dim: #c4cd7b;
    --sys-on-primary-fixed: #1a1e00;
    --sys-on-primary-fixed-variant: #444b05;
    --sys-secondary-fixed: #e0e995;
    --sys-secondary-fixed-dim: #c3cd7b;
    --sys-on-secondary-fixed: #1a1e00;
    --sys-on-secondary-fixed-variant: #434b05;
    --sys-tertiary-fixed: #a1f2db;
    --sys-tertiary-fixed-dim: #86d6bf;
    --sys-on-tertiary-fixed: #002019;
    --sys-on-tertiary-fixed-variant: #005142;
    --sys-inverse-secondary: #c3cd7b;
    --sys-inverse-tertiary: #86d6bf;
    --sys-inverse-error: #ffb4ab;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;
    
    --sys-legit-background: #d1ec93;
    --sys-legit-on-background: #526c13;
    --sys-suspicious-background: #ecda93;
    --sys-suspicious-on-background: #6c5b13;
    --sys-malicious-background: #ec9d93;
    --sys-malicious-on-background: #6c1e13;
}