:root,
:host {
    --sys-background: #ffffff;
    --sys-on-background: #141414;
    --sys-surface: #fbf8ff;
    --sys-surface-dim: #dad9e5;
    --sys-surface-bright: #fbf8ff;
    --sys-surface-container-lowest: #ffffff;
    --sys-surface-container-low: #f4f2fe;
    --sys-surface-container: #eeedf9;
    --sys-surface-container-high: #e8e7f3;
    --sys-surface-container-highest: #e2e1ed;
    --sys-on-surface: #1a1b23;
    --sys-on-surface-variant: #444655;
    --sys-inverse-surface: #2f3039;
    --sys-inverse-on-surface: #f1effc;
    --sys-outline: #747686;
    --sys-outline-variant: #c4c5d7;
    --sys-shadow: #000000;
    --sys-scrim: #000000;

    --sys-surface-variant: #e4e1ec;
    --sys-surface-tint: #5b5891;

    --sys-primary: #0c37c9;
    --sys-on-primary: #ffffff;
    --sys-primary-container: #4361ee;
    --sys-on-primary-container: #ffffff;
    --sys-inverse-primary: #bac3ff;
    --sys-secondary: #56008e;
    --sys-on-secondary: #ffffff;
    --sys-secondary-container: #8227c7;
    --sys-on-secondary-container: #ffffff;
    --sys-tertiary: #9f0051;
    --sys-on-tertiary: #9f0051;
    --sys-tertiary-container: #9f0051;
    --sys-on-tertiary-container: #9f0051;
    --sys-error: #ba1a1a;
    --sys-on-error: #ffffff;
    --sys-error-container: #ffdad6;
    --sys-on-error-container: #410002;

    --sys-neutral: #78767d;
    --sys-neutral-variant: #787680;
    --sys-primary-fixed: #e3dfff;
    --sys-primary-fixed-dim: #c4c0ff;
    --sys-on-primary-fixed: #17134a;
    --sys-on-primary-fixed-variant: #434078;
    --sys-secondary-fixed: #e3dfff;
    --sys-secondary-fixed-dim: #c4c0ff;
    --sys-on-secondary-fixed: #17124a;
    --sys-on-secondary-fixed-variant: #434078;
    --sys-tertiary-fixed: #ffd8ea;
    --sys-tertiary-fixed-dim: #fbb0d7;
    --sys-on-tertiary-fixed: #370727;
    --sys-on-tertiary-fixed-variant: #6c3454;
    --sys-inverse-secondary: #c4c0ff;
    --sys-inverse-tertiary: #fbb0d7;
    --sys-inverse-error: #ffb4ab;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;

    --sys-legit-background: #d4ffcc;
    --sys-legit-on-background: #083300;
    --sys-suspicious-background: #fff7cc;
    --sys-suspicious-on-background: #332b00;
    --sys-malicious-background: #ffdad6;
    --sys-malicious-on-background: #410002;
}