<div class="container">
    <mat-toolbar>
        <img src="assets/logo.png" class="logo"/>
        <span class="spacer"></span>
        <div class="navigation-buttons">
            <button mat-icon-button (click)="goSettings()">
                <mat-icon>settings</mat-icon>
            </button>
            <button mat-icon-button (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div class="content">
        @if(checkError) {
        <p class="message loading-message">An error happened while checking</p>
        }
        @else if(analysis === undefined) {
        @if (isAnalyzing) {
        <div class="animated-gradient"></div>
        }@else {
        @if(manualCheckAllowed) {
        <div class="analyze-message">
            <p class="message">Auto check is disabled, Click Analyze to check URL!</p>
            <button class="analyze" mat-flat-button (click)="analyzeWebsite()">
                <span class="mat-label-large">Analyze</span>
            </button>
        </div>
        }@else {
        <p class="message loading-message">Checking URL, if it takes too long please refresh the page!</p>
        }
        }
        } @else if (analysis === null) {
        <p class="message">The tab is either a New Tab or a Chrome tab (settings, extensions...etc.)</p>
        } @else {
        <div class="verdict-box" [ngClass]="analysis.decision.toString().toLowerCase()">
            <span>{{ analysis.verdict }}</span>
            <span *ngIf="analysis.decision != 'Legit'"> - </span>
            <button *ngIf="analysis.decision != 'Legit'" (click)="handleBlock()">Block/Unblock</button>
        </div>
        @if(currentIndex == -1) {
        <div class="percentage-container">
            <svg class="percentage-background" viewBox="0 0 256 256">
                <circle cx="128" cy="128" r="124" class="background-circle" />
            </svg>
            <mat-progress-spinner [mode]="'determinate'" [strokeWidth]="8" [diameter]="256"
                [value]="analysis.percentage" color="error"></mat-progress-spinner>
            <p class="percentage-label">{{analysis.percentage}}%<br/>Suspecious</p>
        </div>
        } @else {
        <mat-card appearance="outlined" class="reason-card">
            <mat-card-content class="reason mat-body-large">
                {{ analysis.reasons![currentIndex] }}
            </mat-card-content>
        </mat-card>
        }
        <div class="scroll-container" *ngIf="analysis.reasons != null && analysis.reasons.length > 0">
            <div class="indicators">
                <span [class.active]="currentIndex === -1">•</span>
                <span *ngFor="let item of analysis.reasons; let i = index" [class.active]="i === currentIndex">•</span>
            </div>
            <div class="navigation-buttons">
                <button mat-icon-button (click)="goToPrevious()" [disabled]="currentIndex === -1">
                    <mat-icon>chevron_left</mat-icon>
                </button>
                <button mat-icon-button (click)="goToNext()" [disabled]="currentIndex === analysis.reasons.length - 1">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        </div>
        }
    </div>
</div>