<div class="container">
    <mat-toolbar>
        <button id="goBack" mat-icon-button (click)="goBack()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <h4>Settings</h4>
    </mat-toolbar>
    <form [formGroup]="settingsForm!!" (ngSubmit)="onSubmit()">
        <div class="single_setting">
            <span>Enable Auto Block</span>
            <mat-slide-toggle formControlName="enableAutoBlock"></mat-slide-toggle>
        </div>
        <div class="single_setting">
            <span>Enable Force Blocking (allows website only if Legit)</span>
            <mat-slide-toggle formControlName="enableForceBlock"></mat-slide-toggle>
        </div>
        <button id="submit" mat-flat-button type="submit">
            <span class="mat-label-large">Save Settings</span>
        </button>
    </form>
</div>